.navbar {
    background-color: #343a40; // Cor de fundo escura
    padding: 1rem;
  
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      color: #ffffff;
      margin-left: 0.5rem;
      white-space: nowrap;
  
      span {
        margin-left: 0.5rem; // Espaçamento entre o ícone e o texto
      }
    }
  
    .navbar-toggler {
      border-color: rgba(255, 255, 255, 0.1);
      &:focus {
        box-shadow: none;
      }
    }
  
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #ffffff;
          font-size: 1rem;
          display: flex;
          align-items: center;
          cursor: pointer;
  
          i {
            margin-right: 0.5rem; // Espaçamento entre o ícone e o texto
          }
  
          &:hover {
            color: #dcdcdc;
          }
  
          &.active {
            font-weight: bold;
            color: #dcdcdc;
          }
        }
      }
    }
  
    // Centraliza o título e distribui os elementos em torno dele
    .container-fluid {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .d-flex {
        align-items: center;
      }
    }
  
    // Responsividade para colapsar e expandir o menu
    .collapse {
      &.show {
        display: block;
      }
    }
  }
  