.card {
    margin-bottom: 1rem;
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .card-body {
    font-size: 1rem;
  
    p {
      font-weight: bold;
    }
  
    button {
      margin-right: 0.5rem;
    }
  
    .btn-success {
      background-color: #28a745;
    }
  
    .btn-danger {
      background-color: #dc3545;
    }
  }
  